.root {
  margin: 0 auto;
  width: 600px;
}

.table {
  text-align: right;
  width: 600px;
}

.table th {
  text-align: center;
}

.type:first-letter{
  text-transform: capitalize
}

.bid {
  color: green;
}

.ask {
  color: red;
}
